.comments {
  text-align: center;
}

.comments>button {
  font-size: 1rem;
  font: inherit;
  color: rgb(220, 4, 4);

  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  width: auto;
}

.comments>button:hover {
  background-color: #150015;
  color: white;
}